# Desc: Sample empty world
# Author:  stefano Franchi
# Date: 09 December 2009


# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "braitenberg-v-4.world"	
)


# Braiten with fiducial finders
driver
(
  name "stage"
  provides ["6665:position2d:0" "6665:fiducial:0" "6665:fiducial:1"]
  model "braiten1"
  )