# Desc:     Player configuration file for an empty world with one light
# Author:   Stefano Franchi
# Date:     06 February 2014
#
# As the Stage simulator does not have light or light sensors
# they are emulated with a a fiducial beacon (for the light)
# and fiducial sensors (for the light sensors).
# It is the controller's responsibility to 
# compute light's quadratic attenuation
#

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "Homeo-world-one-light.world"	
)


# khepera-like robot with fiducial finders
driver
(
  name "stage"
  provides ["6665:position2d:0" "6665:fiducial:0" "6665:fiducial:1"]
  model "khepera1"
  )
  

# Log data from laser:0 to "/home/stefano/temp/logs/mydata_YYYY_MM_DD_HH_MM_SS.log"
driver
(
  name "writelog"
  log_directory "/home/stefano/temp/logs/"
  basename "trajectoryData"
  requires ["position2d:0"]
  provides ["log:0"]
  alwayson 1
  autorecord 1
)
